template(name="ooImageCropper")
  input.js-file(type="file" accept="image/*" capture)
  oo-box(ooThumbImage="{{oo}}" style="flex: 0 0 auto; {{style}}" class="js-{{jsClass}} color:{{backColor}}")
    if image
      img( src="{{image}}")
    else
      i(class="ico-{{icon}}" class="text-color:{{iconColor}}")
    img( src="{{imageData}}")

template(name="ooImageCropperModal")
  .ooImageCropperModal(oo-Color="back:backdrop-alt")#ooImageCropperModalId
    oo-box(flex="content:between items:center")
      button.js-cancel(btn="negative push-all small raised") Cancel
      button.js-upload(btn="positive push-all small raised") Upload
    .ooImageCropContainer
      img.ooImage
    if uploading
      | uploading...
    //- img.ooImage(src="{{var 'imageData'}}")
    //- div
    //-   button.js-rotateCounterClockWise(btn="positive push-all") Rotate
    //-   button.js-rotateClockWise(btn="positive push-all") Rotate Clockwise
    //-   button.js-getCroppedCanvas(btn="positive push-all") Output
    //-   button.js-upload(btn="positive push-all") Upload
    //-     i.ico-dna
    //-   button.js-filter(btn="positive push-all") Filter
    //-   div
    //-     input.js-file(type="file" )
    //-   div
    //-     input(type="file" multiple )
    //-   .previewImage
    //-   div
    //-     if uploading
    //-       | uploading...
    //-     div output
    //-       img.output( src="{{var 'output'}}")
    //-     div output resized
    //-       img#resized.resized( src="{{var 'outputResized'}}")
    //-     div upload
    //-       img.output( src="{{var 'link'}}")
    //-       div {{var 'link'}}
    //-     div deletehash {{var 'deleteHash'}}
